:root {
  --background-color: #0a0e14;
  --accent-color: #39bae6;
  --text-color: #e6edf3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}